@{
    ViewData["Title"] = "Search";
}

@model List<Blog>

<div class="container">

    <div class="col-md-10 offset-md-1">
        <form asp-action="Search">
            <div class="mb-3">
                <label>Search(Title, Content)</label>
                <input name="searchText" type="text" class="form-control" />
            </div>

            <button class="btn btn-primary" type="submit">Search</button>

        </form>

        @if (Model == null || !Model.Any())
        {
            <div class="alert alert-info">
                Sonuç bulunamadı
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>UserId</th>
                        <th>Tags</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td>@post.Id</td>
                            <td>@post.Title</td>
                            <td>@post.Content</td>
                            <td>@post.UserId</td>
                            <td>@string.Join(',',post.Tags)</td>
                            <td>@post.Created</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

